1. 6번 파일(8월 27일 기준 ETF의 구성 종목)에서 시가총액 상위 50위 etf 추출하기

In [69]:
import pandas as pd
data1 = pd.read_csv('C:\\Users\\11\\Downloads\\open\\NH_CONTEST_DATA_ETF_HOLDINGS.csv', encoding='cp949')
result = data1.groupby('etf_tck_cd')['mkt_vlu'].sum().reset_index()
display(result)
시가총액_top_50 = result.sort_values(by='mkt_vlu', ascending=False).head(50)
print(시가총액_top_50)

    etf_tck_cd      mkt_vlu
0         AAPB     55196050
1         AAPU    333423423
2          AIQ   1969949877
3         AMDL      9788048
4         AMZU    465277883
..         ...          ...
117        XLU  15432230720
118        XLV  39691826082
119       XYLD   2813629261
120       YINN   2795877317
121       YMAX     48564080

[122 rows x 2 columns]

    etf_tck_cd        mkt_vlu
107        VTI  1632609396735
105        VOO  1168848786417
83         SPY   537149441711
40         IVV   486185746208
67         QQQ   270418248248
102        VEA   184220461283
103        VIG    93160184864
108        VWO    84908032182
94        TQQQ    71806951554
109        VYM    66157174607
114        XLK    64863628728
37        IEMG    63408921509
41         IWM    62542028708
104        VNQ    60908841671
73        SCHD    54762814000
106         VT    47333577036
81        SPLG    40813286251
113        XLF    40740765107
118        XLV    39691826082
112        XLE    37216353303
77        SOXL    35076511915
22         DIA    33517571178
42        JEPI    33504274543
68        QQQM    29309605394
20        DGRO    28334518530
85        SPYG    27470463458
86        SPYV    22451541390
52         MGK    21622517007
76         SMH    20718366027
92         TMF    20094443500
115        XLP    15774340554
117        XLU    15432230720
53        MOAT    14686947966
43        JEPQ    14668436123
29         GDX    13269193979
21        DGRW    13263619776
79        SOXX    13216371608
82        SPXL    13114548885
66         QLD    12927689545
57        NOBL    11893607109
98        UPRO    11128665316
87         SSO    10450200802
63         PFF    10245629506
90        TECL     8620856453
93         TNA     8054611535
69        QYLD     7898228977
35         IBB     7592618817
62        PAVE     7539098455
111        XBI     7334645508
27         FAS     7083539389

2. 1번 파일(8월 27일 기준 해외종목 정보)에서 업종분류명, 섹터분류명, 산업명 열 빼와서 6번 파일(8월 27일 기준 ETF의 구성 종목)과 병합하기

In [70]:
data2 = pd.read_csv('C:\\Users\\11\\Downloads\\open\\NH_CONTEST_NW_FC_STK_IEM_IFO.csv', encoding='latin1')
data2_selected = data2[['tck_iem_cd', 'btp_cfc_nm', 'ser_cfc_nm', 'ids_nm', 'mkt_pr_tot_amt']]
merged_result = pd.merge(data1, data2_selected, on='tck_iem_cd', how='inner')
display(merged_result)

,etf_tck_cd,tck_iem_cd,mkt_vlu,fc_sec_eng_nm,fc_sec_krl_nm,stk_qty,wht_pct,sec_tp,btp_cfc_nm,ser_cfc_nm,ids_nm,mkt_pr_tot_amt
0,AAPB,AAPL,36858666,AAPL,애플,215737,66.778,ST,Phones & Smart Phones,Technology,Consumer Electronics,3454684.01
1,AAPB,USD,18337384,US Dollars,프로셰어즈 울트라 반도체,0,33.222,EF,-,-,-,0.00
2,AMDL,USD,3257693,US Dollars,프로셰어즈 울트라 반도체,0,33.282,EF,-,-,-,0.00
3,AMDL,AMD,6530355,AMD,에이엠디,36558,66.718,ST,Semiconductors (NEC),Technology,Semiconductors,242772.28
4,CLOU,TWLO,15400502,TWILIO INC - A,트윌리오,254933,4.266,ST,Software (NEC),Technology,Software - Infrastructure,9743.59
...,...,...,...,...,...,...,...,...,...,...,...,...
18511,TAN,CSIQ,18712550,Canadian Solar Inc,캐나디안 솔라,1382020,1.897,ST,Photovoltaic Solar Systems & Equipment,Technology,Solar,895.02
18512,TAN,AY,18652217,Atlantica Sustainable Infrastructure PLC,아틀란티카 일드,843610,1.891,ST,Alternative Electric Utilities,Utilities,Utilities - Renewable,2588.02
18513,TAN,RNW,7690201,ReNew Energy Global PLC,리뉴 에너지,1296830,0.780,ST,Renewable IPPs,Utilities,Utilities - Renewable,2063.37
18514,TAN,AMPS,5794798,Altus Power Inc,알터스 파워,1833797,0.587,ST,Solar Electric Ultilities,Utilities,Utilities - Renewable,487.97
18515,TMF,TLT,4204149128,ISHARES 20+ YEAR TREASURY BD,아이셰어즈 20년 국채,44105635,20.922,EF,-,-,-,0.00

아래 df = etf명, etf 구성 종목, 보유종목가치, 보유종목비중, 업종분류명, 섹터분류명, 산업명

In [83]:
df=merged_result[['etf_tck_cd','tck_iem_cd', 'mkt_vlu', 'wht_pct','btp_cfc_nm', 'ser_cfc_nm', 'ids_nm']]

VTI 종목들을 섹터분류명(ser_cfc_nm), 총 12개 섹터로 분류

In [76]:
df2=df[df['etf_tck_cd']=='VTI']
display(df2.ser_cfc_nm.nunique())
df3 = df2.groupby('ser_cfc_nm')['wht_pct'].sum().reset_index()
df3

12

                ser_cfc_nm  wht_pct
0                        -    0.098
1          Basic Materials    2.153
2   Communication Services    8.578
3        Consumer Cyclical   10.047
4       Consumer Defensive    5.465
5                   Energy    3.757
6       Financial Services   12.171
7               Healthcare   11.547
8              Industrials    8.379
9              Real Estate    2.571
10              Technology   31.501
11               Utilities    2.173

In [88]:
top_50 = df.groupby('etf_tck_cd')['mkt_vlu'].sum().reset_index()
top_50 = top_50.sort_values(by='mkt_vlu', ascending=False).head(50)
display(top_50)

    etf_tck_cd        mkt_vlu
107        VTI  1622106842696
105        VOO  1167872404702
83         SPY   536667491970
40         IVV   484230084581
67         QQQ   265926217669
103        VIG    93114594258
109        VYM    65969932579
114        XLK    64863628728
41         IWM    57266483581
73        SCHD    54610810794
104        VNQ    51785964952
81        SPLG    40776641544
113        XLF    40740765107
118        XLV    39400132705
112        XLE    37216353303
22         DIA    33517571178
106         VT    31517763531
68        QQQM    28817598908
42        JEPI    28474707609
20        DGRO    28174237051
85        SPYG    27470463458
86        SPYV    22405840337
52         MGK    21622517007
76         SMH    16543377822
102        VEA    16243139960
115        XLP    15774340554
117        XLU    15432230720
53        MOAT    14150940224
21        DGRW    13226655646
57        NOBL    11877616980
43        JEPQ    11848735848
79        SOXX    11793269697
29         GDX     9658948738
69        QYLD     7762218487
94        TQQQ     7664586097
62        PAVE     7444616968
116       XLRE     7048983944
111        XBI     6923858539
35         IBB     6650384705
77        SOXL     6517541508
39         ITA     6371790244
60        NVDL     6227597284
84        SPYD     6136889195
8         ARKK     6127180746
14        CIBR     5177635900
38         IHI     4872227778
92         TMF     4204149128
66         QLD     4108934180
80        SPHD     3341986692
87         SSO     3189597481

In [89]:
top_50.etf_tck_cd.unique()

array(['VTI', 'VOO', 'SPY', 'IVV', 'QQQ', 'VIG', 'VYM', 'XLK', 'IWM',
       'SCHD', 'VNQ', 'SPLG', 'XLF', 'XLV', 'XLE', 'DIA', 'VT', 'QQQM',
       'JEPI', 'DGRO', 'SPYG', 'SPYV', 'MGK', 'SMH', 'VEA', 'XLP', 'XLU',
       'MOAT', 'DGRW', 'NOBL', 'JEPQ', 'SOXX', 'GDX', 'QYLD', 'TQQQ',
       'PAVE', 'XLRE', 'XBI', 'IBB', 'SOXL', 'ITA', 'NVDL', 'SPYD',
       'ARKK', 'CIBR', 'IHI', 'TMF', 'QLD', 'SPHD', 'SSO'], dtype=object)

In [79]:
top_50 = df.groupby('tck_iem_cd')['mkt_vlu'].sum().reset_index()
top_50 = top_50.sort_values(by='mkt_vlu', ascending=False).head(50)
display(top_50)

     tck_iem_cd       mkt_vlu
1788       MSFT  322985316104
6          AAPL  299282700338
1926       NVDA  286492144874
184        AMZN  160669043746
1706       META  111145135691
1200      GOOGL   96707241783
294        AVGO   89581635835
1199       GOOG   81331459806
1598        LLY   68195730115
447       BRK.B   67401248139
1476        JPM   60445312913
2942        XOM   58848540357
2685       TSLA   56239043743
2742        UNH   51006344957
664        COST   45590764976
2776          V   41975964433
2086         PG   41375680921
1472        JNJ   38800561140
1260         HD   37059728845
1655         MA   36372521842
8          ABBV   36064980565
747         CVX   33445852321
1772        MRK   32026334480
2075        PEP   31197962015
1854       NFLX   30555716766
157         AMD   30344245241
2898        WMT   29924615335
1520         KO   29080958875
45         ADBE   28743197220
2200       QCOM   27856502344
327         BAC   26935560926
2709        TXN   26762765952
162        AMGN   26569023632
708        CSCO   26519689164
1590        LIN   24735077916
693         CRM   24324451509
150        AMAT   22785183132
1413       INTU   22206178869
2008       ORCL   21971074522
2638        TMO   20316841747
17          ABT   19920245942
1681        MCD   19867566350
1437       ISRG   19586876308
37          ACN   19275166143
614       CMCSA   18952232528
2877        WFC   18793349443
1356        IBM   18571848446
1301        HON   17857190298
2080        PFE   17642320963
1218         GS   17634812712

시총 상위 50개 ETF 구성 종목 개수

In [100]:
# etf_tck_cd가 etf_codes에 있는 행 수 세기
etf_count = data1.groupby('etf_tck_cd').size().reset_index(name='행 개수')

etf_codes = ['VTI', 'VOO', 'SPY', 'IVV', 'QQQ', 'VIG', 'VYM', 'XLK', 'IWM',
             'SCHD', 'VNQ', 'SPLG', 'XLF', 'XLV', 'XLE', 'DIA', 'VT', 'QQQM',
             'JEPI', 'DGRO', 'SPYG', 'SPYV', 'MGK', 'SMH', 'VEA', 'XLP', 'XLU',
             'MOAT', 'DGRW', 'NOBL', 'JEPQ', 'SOXX', 'GDX', 'QYLD', 'TQQQ',
             'PAVE', 'XLRE', 'XBI', 'IBB', 'SOXL', 'ITA', 'NVDL', 'SPYD',
             'ARKK', 'CIBR', 'IHI', 'TMF', 'QLD', 'SPHD', 'SSO']

filtered_df = etf_count[etf_count['etf_tck_cd'].isin(etf_codes)]

# 결과 출력
print(filtered_df)

    etf_tck_cd  행 개수
8         ARKK    36
14        CIBR    31
20        DGRO   412
21        DGRW   297
22         DIA    31
29         GDX    53
35         IBB   212
38         IHI    55
39         ITA    39
40         IVV   495
41         IWM  1934
42        JEPI   137
43        JEPQ    99
52         MGK    71
53        MOAT    56
57        NOBL    67
60        NVDL     2
62        PAVE   100
66         QLD   117
67         QQQ    99
68        QQQM   101
69        QYLD   102
73        SCHD   103
76         SMH    26
77        SOXL    43
79        SOXX    35
80        SPHD    51
81        SPLG   498
83         SPY   496
84        SPYD    82
85        SPYG   231
86        SPYV   433
87         SSO   512
92         TMF    11
94        TQQQ   128
102        VEA  3790
103        VIG   338
104        VNQ   148
105        VOO   490
106         VT  9163
107        VTI  3448
109        VYM   538
111        XBI   141
112        XLE    25
113        XLF    74
114        XLK    70
115        XLP    40
116       XLRE    33
117        XLU    33
118        XLV    63